.access{
  position: relative;
  padding-bottom: 0px;
  font-size: .9em;
  margin-bottom: -300px;
}

  .access__inner{
  padding-top: 60px;
  padding-bottom: 0px;


  }
  .access__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #edf2fa;
    z-index: -2;
  }

.access__container{

max-width: 100%;
margin: 0 auto;
position: relative;






}

.access__map{
width: 90%;
margin: 0 auto;



iframe{
  width: 100%;

}

}

.access__flex{
display: flex;
justify-content: center;
}

.access__content{

width: 90%;
.card{
  position: relative;
  top: -200px;
  margin-bottom: 150px;
 

}
.card__body  {
  padding: 20px 40px;
}
.card__body p {
  margin-bottom: 20px;
}

}



.access__adress{
margin-bottom: 20px;
}

.access__adress--bold{

font-weight: bold;

}
.access__add{
margin-bottom: 20px;
font-size: .9em;
line-height: 160%;
}

.access__btn{
text-align: center;
.btn{
background: linear-gradient(to right,#8ad6e7 0,#7d8bc8 100%);
color: white;
border: none;
position: relative;
&:hover{
color: #7d8bc8;
}


&::before{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border-radius: 30px;

background: white;
opacity: 0;

transform: scale(.5);

transition: all .3s cubic-bezier(.165,.84,.44,1);

transition-timing-function: cubic-bezier(.165,.84,.44,1);

}

&:hover::before {
opacity: 1;

transform: scale(1);
width: calc(100% + 5px);
height: calc(100% + 5px);
left: -3px;
top: -3px;
box-shadow: 0 5px 20px rgba(125,139,200,.5);
}

&::after{   

transform: translateY(-35%);


}

}
}



@media screen and (min-width:1025px) {

  .access{
    position: relative;
    padding-bottom: 160px;
    font-size: 1em;
    margin: 0;
  }

    .access__inner{
    padding-top: 60px;
    padding-bottom: 60px;


    }
    .access__bg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 70%;
      background-color: #edf2fa;
      z-index: -2;
    }

.access__container{

  max-width: 1140px;
  margin: 0 auto;
  position: relative;






}

.access__map{
  width: 65%;
  position: absolute;
  left: 0;
  top: 0;
 

  iframe{
    width: 100%;

  }

}

.access__flex{
  display: flex;
  justify-content: flex-end;
}

.access__content{

  width: 50%;
  .card{
    position: relative;
    top: 150px;
    margin-bottom: 0px;
   

  }
  .card__body p {
    margin-bottom: 20px;
  }

}



.access__adress{
  margin-bottom: 20px;
}

.access__adress--bold{
  
  font-weight: bold;

}
.access__add{
  margin-bottom: 20px;
  font-size: .9em;
  line-height: 160%;
}

.access__btn{
text-align: center;
.btn{
  background: linear-gradient(to right,#8ad6e7 0,#7d8bc8 100%);
  color: white;
border: none;
position: relative;
&:hover{
color: #7d8bc8;
}


&::before{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border-radius: 30px;

background: white;
opacity: 0;

transform: scale(.5);

transition: all .3s cubic-bezier(.165,.84,.44,1);

transition-timing-function: cubic-bezier(.165,.84,.44,1);

}

&:hover::before {
opacity: 1;

transform: scale(1);
width: calc(100% + 5px);
height: calc(100% + 5px);
left: -3px;
top: -3px;
box-shadow: 0 5px 20px rgba(125,139,200,.5);
}

&::after{   
 
  transform: translateY(-35%);

  
}

}
}

  }


  