.hero{
    height: 400px;
    background-image: url(../img/top.png);
    background-size: auto 100%;
   
    background-position: center;


background-repeat: no-repeat;
width: 100%;
position: relative;

  }
  .hero__ttl{
  
    margin-left:5%;
    }

    .hero__text{
      width: 50%;
      position: absolute;
      top: 55%;
      transform: translateY(-55%);
   img{
      display: block;
   }
  }

@media screen and (min-width:1025px) {

  .hero{

min-height: 850px;
background-size: cover;



.hero__ttl{
width: 100%;
margin-left:15%;
}

.hero__text{
    position: absolute;
    top: 50%;
    transform: translateY(-60%);

}

  }

}


