

#sp-menu{
  z-index: 1000;
  display: none;
  position: fixed;
  right: 0;
  top: 0;


  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 0;
  padding-bottom: 30px;

 


  background: linear-gradient(to right,#8ad6e7 0,#7d8bc8 100%);

  color: white;
  // animation: drawer-open .3s cubic-bezier(.645,.045,.355,1) 0s;
  // animation-fill-mode: both;

  // transition: all .4s cubic-bezier(.19,1,.22,1);
  // transition-timing-function: cubic-bezier(.19,1,.22,1);
  // transform: scale(.9);


}

#sp-menu a{
color: white;
}
.sp-menu__container{

  width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
}

.sp-menu__body{
padding: 60px 0 30px;}

.sp-menu__inquiry{
margin-bottom: 40px;

    display: flex;
    border: 1px solid #fff;
 
    align-items: center;
    border-radius: 3px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #fff;
  }
}
.sp-menu__tel{
min-width: 50%;
    
    
    margin: 0 auto;

    text-align: center;
    color: #fff;
    padding: 10px 0;

    img{
   
      height: 30px;
    }
    
    span {
      display: block;
      font-size: 11px;
      padding-top: 3px;
      white-space: nowrap;
  }
}

.sp-menu__online{
min-width: 50%;
    
    
    margin: 0 auto;

    text-align: center;
    color: #fff;
    padding: 10px 0;

    img{
    
      height: 30px;
    }
    
    span {
      display: block;
      font-size: 11px;
      padding-top: 3px;
      white-space: nowrap;
  }
}

.sp-menu__nav{
 
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 20px 20px;
    color: #fff;
    font-size: 1.2rem;
    li ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 20px;
      padding-top: 10px;
      margin-bottom: 15px;
  }
}

@media screen and (min-width:1025px) {

  #sp-menu{
    display: none;
  }

}